body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

#prankBtn {
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
    position: absolute;
}

/* Hidden picture that will appear and shake */
#funnyPic {
    width: 350px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    animation: none;
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    25% { transform: translate(calc(-50% + 5px), calc(-50% - 5px)) rotate(3deg); }
    50% { transform: translate(-50%, -50%) rotate(0deg); }
    75% { transform: translate(calc(-50% - 5px), calc(-50% + 5px)) rotate(-3deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}
